.mypost-comment-img1 img.img-circle1 {
  width: 50px;
  border-radius: 50%;
}

.mypost-comment-name1 {
  margin-left: 60px;
  margin-top: -55px;
}

.mypost-comment-name1 .mypost-comment-time1 {
  margin-left: 5px;
  margin-top: -55px;
  font-size: 14px;
  color: grey;
}

.mypost-comment-comments1 {
  margin-left: 60px;
  margin-top: -25px;
  margin-bottom: 30px;
  font-size: 18px
}

.mypostcommentimg-setting {
    width: 25px;
}

.menu-containermypostcommentsetting {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.mypostcommentbuttonsetting {
    width: 30px;
    /* margin-top: -5px;
    margin-left: 100px; */
    background: #e7e7e7;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 3px;
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
}

.mypostcommentbuttonsetting:hover {
    background-color: rgb(199, 199, 199);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
  
.mypostcommentmenusetting {
    background: #ffffff;
    border-radius: 7px;
    position: absolute;
    top: 40px;
    left: -80px;
    font-size: 15px;
    width: 130px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
 }
  
.mypostcommentmenusetting.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
  
.mypostcommentmenusetting .ul-mypostcommentmenusetting {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.mypostcommentmenusetting .li-mypostcommentmenusetting {
    border-bottom: 1px solid #dddddd;
}
 
.mypostcommentmenusetting .li-mypostcommentmenusetting .a-mypostcommentmenusetting {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    display: block;
}

.mypostcommentmenusetting .li-mypostcommentmenusetting .a-mypostcommentmenusetting .a-mypostcommentmenusetting1 {
    color: black;
}

.mypostcommentmenusetting .li-mypostcommentmenusetting .a-mypostcommentmenusetting .a-mypostcommentmenusetting1:hover {
    color: black;
}

.mypostcommentrow {
    background-color: #e7e7e7;
    width: 80%;
    height: 10%;
    margin-left: 70px;
    margin-bottom: 30px;
    padding-top: 35px;
    padding-left: 20px;
    padding-bottom: auto;
    border-radius: 15px;;
    box-shadow: 1px 5px 10px rgba(0,0,0,.2);
}

/* .mypostcommentrow2 {
    background-color: tomato;
} */

.column1 {
    width: 90%;
}

.column2 {
    width: 10%;
}
