.container-formedit {
    width: 70%;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
}

.profile-badformedit-img {
    text-align: center;
    padding-bottom: 20px;
} 

.profile-badformedit-img img.img-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center; 
    border-radius: 50%;
}

.uploadinputeditprofile{
    margin-top: 10px;
}

.uploadiconprofileedit{ 
    width: 20px;
}

#FileInput{ 
    cursor: pointer;  
    display: none;
}

.rank-label-container-edit {
    margin-top: -19px;
    text-align: center;
}

.fileinputedit{ 
    width: 30px;
    border-radius: 50%;
    border: none;
    background-color: white;
}

.formedit-left{ 
    margin-right: 15px;
}

.spanformedit { 
    color: red;
}

/* .linkruleedit1{
    margin-top: 10px;
}

.linkruleedit2{ 
    display: inline;
}

.linkruleedit3, .linkruleedit3:hover{ 
    display: inline-block;
    color: red;
    margin-left: 2px;
    margin-bottom: 10px;
} */

.uploadsformedituploadslip{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-img-holder-imgpreviewedit .imgpreviewedit {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.imgpreviewedit {
    overflow: hidden;
    background-color: white;
}
  
.imgpreviewedit img{
    transition: all 0.3s ease 0s;
    width: 100%;
}
  
.imgpreviewedit:hover {
    transform: scale(2.5);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.buttonformedit{
    width: 100%;
    font-size: 20px;
    background-color: #b30101;
    border: none;
    border-radius: 0.5rem;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 0.5rem;
    margin-top: 10px;
}

.buttonformedit:hover{
    width: 100%;
    font-size: 20px;
    background-color: #8B0000;
    border: none;
    border-radius: 0.5rem;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 0.5rem;
    margin-top: 10px;
}

.buttonformedit:active{
    width: 100%;
    font-size: 20px;
    background-color: #8B0000;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 10px;
}