

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.Navbar {
  background-color: #8B0000;
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
}

.link {
  color:white;
}

.link:hover{ 
  color: #DCDCDC;
}

.button {
  background-color: #8B0000;
  color: white;
  border: none;
}

.button:hover {
  background-color: #8B0000;
  color: white;
  border: none;
}

.head {
  font-size: 30px;
}
<<<<<<< HEAD

=======
>>>>>>> 46f09d1ec375f12b353846fdd8c963438c6fcd9e
body {
  background-color: #F0F2F5;
}
