.h1-help { 
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    color: #8B0000;
}

.container-help {
    width: 80%;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px; 
}

.card-help {
    width: 270px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    margin-bottom: 100px;
    display: block;
    float: left;
    border-radius: 20px 20px 20px 20px;
    margin-left: 21px;
    margin-right: 21px;
}

.card-help2 {
    background-color: white;
    width: 370px;
    border-radius: 10px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    margin-bottom: 100px;
    text-align: center;
    margin-top: 100px;
    display: block;
    float: left;
    margin-left: 23px;
    margin-right: 23px;
}

.textred-help{
    color: red;
    font-size: 18px;
}

.textred2-help{
    color: red;
    font-size: 18px;
    margin-left: 87px ;
}

.textwhite-help{
    color: white;
}

.text-help{
    text-align: center;
    font-size: 20px;
}

.cardtext-help , .text-help{
    font-size: 15px;
    color: rgb(107, 107, 107);
}

.cardtext-help2{
    padding-bottom: 13px;
    font-size: 15px;
    color: rgb(107, 107, 107);
}

.emty-help{
    margin-top: 80px;
}

.left-help{
    margin-left: 220px;
}

.right-help{
    margin-right: 140px;
}

.image-help1{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 30px;
} 
.image-help1{
    width: 100px;
}

.image-help2{
    background-color: white;
    border-radius: 50%;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    position:absolute;
    margin-left: -280px;
    margin-top: 15px;
}

.image-help3-left{
    background-color: white;
    border-radius: 50%;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    position:absolute;
    margin-left: -900px;
    margin-top: 380px;
}


.image-help3-right{
    background-color: white;
    border-radius: 50%;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    position:absolute;
    margin-left: -900px;
    margin-top: 380px;
}
.h1-help2{
    margin-top: 650px;
    font-size: 30px;
    margin-left: 0px;
    font-family: 'Kanit', sans-serif;
    color: #8B0000;
    text-align: center;
}

.container-help2{
    background-color: red;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.row-help1{
        margin-left: auto;
        margin-right: auto;
        background-color: teal;
    }

.title-help{
    font-size: 20px;
}

.span-help,.span-help-3{
    display: none;
    color: rgb(107, 107, 107);
}
.span-help-2{
    display: none;
    color: rgb(107, 107, 107);
}
.normal-help{
    color: rgb(107, 107, 107);
    display: inline;
}
.normal-help1{
    color: rgb(107, 107, 107);
    display: none;
}
/*Responsive*/ 

@media only screen and (max-width: 2020px) {
    .container-help{
        width: 80%;
    }
    .card-help {
        width: 260px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: red;
        padding: 5px;
    }
    .card-help2{
        width: 330px;
        margin-left: 22px;
        margin-right: 22px;
    }
    .left-help{
        margin-left: 190px;
    }
    .image-help3-left{
        margin-left: -820px;
    }
    .image-help3-right{
        margin-left: -450px;
    }
    .image-help2{
        background-color: white;
        border-radius: 50%;
        box-shadow: 10px 20px 50px rgba(0,0,0,.2);
        position:absolute;
        margin-left: -260px;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 1920px) {
    .container-help{
        width: 70%;
    }
    .card-help {
        width: 270px;
        margin-bottom: 100px;
        margin-left: 21px;
        margin-right: 21px;
    }
    .card-help2 {
        background-color: white;
        width: 370px;
        border-radius: 10px;
        box-shadow: 10px 20px 50px rgba(0,0,0,.2);
        margin-bottom: 100px;
        text-align: center;
        margin-top: 100px;
        display: block; 
        float: left;
        margin-left: 23px;
        margin-right: 23px;
    }
    .image-help3-left{
        background-color: white;
        border-radius: 50%;
        box-shadow: 10px 20px 50px rgba(0,0,0,.2);
        position:absolute;
        margin-left: -900px;
        margin-top: 380px;
    }
    
    .image-help3-right{
        background-color: white;
        border-radius: 50%;
        box-shadow: 10px 20px 50px rgba(0,0,0,.2);
        position:absolute;
        margin-left: -480px;
        margin-top: 380px;
    }
    .left-help{
        margin-left: 220px;
    }
    
    .right-help{
        margin-right: 140px;
    }
    .image-help2{
        background-color: white;
        border-radius: 50%;
        box-shadow: 10px 20px 50px rgba(0,0,0,.2);
        position:absolute;
        margin-left: -280px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 1024px) {
    .container-help{
        width: 90%;
    }
    .card-help {
        width: 300px;
        margin-bottom: 100px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 0px;
    }
    .card-help-left{
    margin-left: 100px;
    }
    .cardtext-help2{
        padding-bottom: 35px;
    }
    .h1-help2{
        margin-top: 1250px;
        font-size: 30px;
        margin-left: 0px;
    }
    .card-help2{
        margin-left: 50px;
    }
    .image-help2-left{
        margin-left: -670px;
        margin-top: 380px;
    }
    .image-help3-left{
        margin-left: -260px;
    }
    .image-help3-right{
        margin-left: -470px;
        margin-top: 750px;
    }
    .card-help2-center{
        margin-left: 250px;
    }
    .show-help{
        display: block;
        margin-bottom: 22px;
    }
    .show-help2{
        display: block;
        margin-bottom: -8px;
    }
}

@media only screen and (max-width: 768px) {
    .card-help {
        width: 280px;
        margin-bottom: 50px;
        margin-left: 12px;
        margin-right: 12px;
        padding: 0px;
    }
    .cardtext-help2{
        padding-bottom: 15px;
    }
    .card-help2 {
        width: 280px;
        margin-bottom: 70px;
        margin-left: 11px;
        margin-right: 11px;
    }
    .text-help{
        text-align: center;
        font-size: 14px;
    }
    .image-help2{
        margin-left: -225px;
        margin-top: 15px;
    }
    .image-help2-left{
        margin-left: -525px;
        margin-top: 350px;
    }
    .image-help3-left{
        margin-left: -230px;
        margin-top: 350px;
    }
    .image-help3-right{
        margin-left: -380px;
        margin-top: 685px;
    }
    .card-help2-center{
        margin-left: 160px;
    }
    .h1-help2{
        margin-top: 1150px;
    }
    .show-help2{
        display: block;
        margin-top: -5px;
        margin-bottom: -24px;
    }
    .show-help{
        display: block;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 414px) {
    .container-help {
        width: 100%;
        padding: 7px;
    }

    .card-help {
        width: 200px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }

    .card-help2-center{
        margin-left: 0px;
    }
    .card-help2 {
        width: 280px;
        margin-bottom: 70px;
        margin-left: 11px;
        margin-right: 11px;
    }
    .card-help2-right{
        margin-left: -200px;
        background-color: tomato;
    }
    .title-help{
        font-size: 17px;
    }

    .span-help,.span-help-3{
        display: block;
        margin-left: 19px;
    }
    .normal-help{
        display: none;
    }
    .normal-help1{
        display: inline;
    }
    .textwhite-help{
        display: none;
    }
    .show-help{
        display: block;
        margin-bottom: 27px;
    }
    .show-help2{
        display: block;
        margin-bottom: 62px;
    }
    .cardtext-help{
        font-size: 13px;
    }
    .image-help1{
        margin-top: 0px;
    }
    .h1-help2{
        margin-top: 1000px;
    }
    .card-help2{
        margin-left: 60px;
    }
    .card-help2-right{
        margin-left: -135px;
    }
    .image-help2,.image-help3{
        width: 130px;
    }
    .image-help2-1{
        margin-top: 15px;
    }
    .image-help2-2{
        margin-top: 305px;
    }
    .image-help2-left{
        margin-top: 625px;
        margin-left: -225px;
    }
    .image-help3-left{
        margin-top: 915px;
        margin-left: -220px;
    }
    .image-help3-right{
        margin-top: 1235px;
        margin-left: -215px;
    }
    .h1-help{
        font-size: 25px;
    }
    .h1-help2{
        font-size: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 375px) {
    .card-help {
        width: 180px;
    }
    .show-help{
        display: none;
    }
    .show-help2{
        display: block;
        margin-bottom: 62px;
    }
    .cardtext-help{
        font-size: 13px;
    }
    .image-help1{
        margin-top: 0px;
    }
    .h1-help2{
        margin-top: 1000px;
        margin-bottom: -30px;
    }
    .card-help2{
        margin-left: 42px;
    }
    .card-help2-right{
        margin-left: -147px;
    }
    .image-help2-1{
        margin-top: -5px;
        margin-left: -220px;
    }
    .image-help2-2{
        margin-top: 290px;
        margin-left: -220px;
    }
    .image-help2-left{
        margin-top: 605px;
        margin-left: -220px;
    }
    .image-help3-left{
        margin-top: 900px;
        margin-left: -220px;
    }
    .image-help3-right{
        margin-top: 1215px;
        margin-left: -220px;
    }
    .h1-help{
        font-size: 25px;
    }
    .h1-help2{
        font-size: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .card-help {
        width: 153px;
    }
    .textred-help{
        display: block;
    }
    .show-help{
        display: block;
        margin-bottom: 27px;
    }
    .show-help2{
        display: block;
        margin-bottom: -9px;
    }
    .normal-help1{
        display: none;
    }
    .span-help{
        display: block;
    }
    .span-help-2{
        display: block;
        margin-left: 19px;
    }.span-help-3{
        display: none;
    }
    .cardtext-help{
        margin-top: 0px;
    }
    .text-help{
        font-size: 12px;
    }
    .h1-help2{
        margin-top: 1050px;
        margin-bottom: -30px;
    }
    .card-help2{
        width: 250px;
        margin-left: 28px;
    }
    .card-help2-right{
        margin-left: -162px;
    }
    .image-help2-1{
        margin-top: 10px;
        margin-left: -205px;
    }
    .image-help2-2{
        margin-top: 290px;
        margin-left: -205px;
    }
    .image-help2-left{
        margin-top: 595px;
        margin-left: -205px;
    }
    .image-help3-left{
        margin-top: 875px;
        margin-left: -205px;
    }
    .image-help3-right{
        margin-top: 1175px;
        margin-left: -205px;
    }
    .h1-help{
        font-size: 25px;
    }
    .h1-help2{
        font-size: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
}