.h1-help { 
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    color: #8B0000;
}

.container-help {
    width: 70%;
    /* background-color: blue; */
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px; 
}

.card-help {
    width: 270px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    margin-bottom: 100px;
    display: block;
    float: left;
    border-radius: 10px 10px 10px 10px;
    margin-left: 21px;
    margin-right: 21px;

}

.card-help2 {
    background-color: white;
    width: 370px;
    border-radius: 10px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    margin-bottom: 100px;
    text-align: center;
    margin-top: 100px;
    display: block;
    float: left;
    margin-left: 23px;
    margin-right: 23px;
}

.textred-help{
    color: red;
    font-size: 18px;
}

.textred2-help{
    color: red;
    font-size: 18px;
    margin-left: 87px ;
}

.textwhite-help{
    color: white;
}

.text-help{
    text-align: center;
    font-size: 20px;
    color:blue;
}

.cardtext-help{
    font-size: 15px;
}


.emty-help{
    margin-top: 80px;
}

.left-help{
    margin-left: 220px;
}

.right-help{
    margin-right: 140px;
}

.image-help1{
    width: 100px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background: blue;
}

.image-help2{
    background-color: white;
    border-radius: 50%;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    position:absolute;
    margin-left: -280px;
    margin-top: 15px;
}

.image-help3-left{
    background-color: white;
    border-radius: 50%;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    position:absolute;
    margin-left: -900px;
    margin-top: 370px;
}

.image-help3-right{
    background-color: white;
    border-radius: 50%;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    position:absolute;
    margin-left: -490px;
    margin-top: 370px;
}