.h1-mypost { 
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    color: #8B0000;
}

.container-mypost {
    width: 70%;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
}

.mypost-profile-img img.img-circle {
    width: 50px;
    border-radius: 50%;
}

.mypost-name{
    margin-left: 60px;
    margin-top: -55px;
}

.mypost-date{
    margin-left: 60px;
    margin-top: -25px;
    color: grey;
    font-size: 18px
}

.mypost-time{
    margin-left: 5px;
    color: grey;
}

.mypostbuttonshared, .mypostbuttonshare {
    color: grey;
}

.mypostbuttonshared, .mypostbuttonshare:hover{
    color: grey;
}

.mypostbuttonshared{
    margin-top: -65px;
    width: 30px;
    background: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5px;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    margin-left: auto; /* Strictly for positioning */
    margin-right: 40px;
}

.mypostbuttonshared:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.mypostimg-setting {
    width: 30px;
}

.menu-containermypostsetting {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.mypostbuttonsetting {
    margin-top: -33px;
    width: 30px;
    background: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0px;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    margin-left: auto; /* Strictly for positioning */
}
  
.mypostbuttonsetting:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
  
.mypostmenusetting {
    background: #ffffff;
    border-radius: 7px;
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 15px;
    width: 110px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
 }
  
.mypostmenusetting.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
  
.mypostmenusetting .ul-mypostmenusetting {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.mypostmenusetting .li-mypostmenusetting {
    border-bottom: 1px solid #dddddd;
}
 
.mypostmenusetting .li-mypostmenusetting .a-mypostmenusetting {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    display: block;
}

.mypostmenusetting .li-mypostmenusetting .a-mypostmenusetting .a-mypostmenusetting1 {
    color: black;
}

.mypostmenusetting .li-mypostmenusetting .a-mypostmenusetting .a-mypostmenusetting1:hover {
    color: black;
}
  
.container-mypost3 {
    width: 80%;
    margin-top: -10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: -10px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

.mypostprofile-bad-img {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
}

.mypostprofile-bad-img img.img-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center; 
    border-radius: 50%;
}

.mypost-left { 
    margin-right: 15px;
}

.spanmypost { 
    color: red;
}

.img-bad{
    transition: all 0.3s ease 0s;
    width: 100px;
    overflow: hidden;
    margin-left: 10px;
    background-color: white;
    margin-right: 10px;
}

.img-bad:hover{
    transform: scale(2.5);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.container-mypost4{
    width: 70%;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
}

.mypost-comment-img1 img.img-circle1,
.mypost-comment-img2 img.img-circle2,
.mypost-comment-img3 img.img-circle3 {
  width: 50px;
  border-radius: 50%;
}

.mypost-comment-name1,
.mypost-comment-name2,
.mypost-comment-name3 {
  margin-left: 60px;
  margin-top: -55px;
}

.mypost-comment-name1 .mypost-comment-time1,
.mypost-comment-name2 .mypost-comment-time2,
.mypost-comment-name3 .mypost-comment-time3 {
  margin-left: 5px;
  margin-top: -55px;
  font-size: 14px;
  color: grey;
}

.mypost-comment-comments1,
.mypost-comment-comments2,
.mypost-comment-comments3 {
  margin-left: 60px;
  margin-top: -25px;
  margin-bottom: 30px;
  font-size: 18px
}

.mypostbuttonsends, .mypostbuttonsends:hover{
  color: grey;
}

.mypostbuttonsend{
  width: 30px;
  background: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 5px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.mypostbuttonsend:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}