h1 { 
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    color: #8B0000;
}

.container-mypost {
    width: 70%;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
}

.profile-img img.img-circle {
    width: 50px;
    border-radius: 50%;
}

.name{
    margin-left: 60px;
    margin-top: -80px;
}

.date{
    margin-left: 60px;
    margin-top: -30px;
    color: grey;
    font-size: 18px
}

.time{
    margin-left: 5px;
    color: grey;
}

.settingpost{
    font-size: 18px;
    margin-left: 350px;
}

/* .settingpost:active{
    width: 8%;
    border-radius: 200%;
    background-color: #DCDCDC;
} */

.profile-bad-img {
    text-align: center;
    padding-bottom: 20px;
}

.profile-bad-img img.img-circle {
    width: 120px;
    border-radius: 50%;
}