h1 { 
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    color: #8B0000;
}

.container-login {
    margin: 40px auto;
    padding: 30px 40px;
    font-family: 'Kanit', sans-serif;
    background-color: white;
    width: 500px;
    height: auto;
    box-shadow: 10px 20px 50px rgba(0,0,0,.2);
    border-radius: 20px;
}

.LoginForm-login {
    width: 100%;
    max-width: 376px;
    padding: 15px;
    margin: 0 auto;
}

.LoginInputForm-login {
    margin-top: -1rem;
}

.LoginInputForm-login .InputName {
    font-size: 16px;
    color: grey;
}

.message{
    display:flex;
    justify-content:space-between;
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.RememberCheckbox, .ForgotPassword a {
    color: #212529;
    font-size: 16px;
}

.LoginButton-login {
    background-color: #be2020;
    border: 1px solid #be2020;
    border-radius: 1.5rem;
    padding: 6px;
    margin-top: 1rem;
}

.LoginButton-login:hover {
    background-color: #9b1b1b;
    border: 1px solid #9b1b1b;
}

.LoginButton-login p {
    color: white;
    font-size: 18px;
}

.Signup-login a {
    color: #212529;
    font-size: 18px;
}

.Signup-login a:hover {
    color: #9b1b1b;
    font-size: 18px;
}

.Signup-login hr {
    margin-top: 2rem;
    color:black;
}

.LoginFacebook-login {
    background-color: #3b5999;
    border: 1px solid #3b5999;
    border-radius: 10px;
    padding: 6px;
}

.LoginFacebook-login:hover {
    background-color: #30477a;
    border: 1px solid #30477a;
}

.LoginGoogle-login {
    background-color: #CB4023;
    border: 1px solid #CB4023;
    border-radius: 10px;
    padding: 6px;
}

.LoginGoogle-login:hover {
    background-color: #a5331d;
    border: 1px solid #a5331d;
}

.LoginFacebook-login p, .LoginGoogle-login {
    color: white;
    font-size: 18px;
}

.LoginFacebook-login svg, .LoginFacebook-login p, .LoginGoogle-login svg, .LoginGoogle-login p{
    display: inline-block;
}

.LoginFacebook-login svg, .LoginGoogle-login svg {
    vertical-align: middle;
    margin: 0 .5rem 4px 0;
}

.LogoLogin-login  {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}

.Date {
    color: inherit;
}

@media (min-width: 768px) {
    .label-form-title-signup {
        width: 35%;
    
    }
    .BirthDate-signup {
        margin-bottom: -1rem;
        margin-top: 1rem;
    }
    .Phone-signup {
        margin-bottom: -1rem;
        margin-top: 2rem;
    }
    .Email-signup {
        margin-top: -1rem;
    }
}

@media (max-width: 767.98px) {
    .label-form-title-signup {
        width: 100%;
        display: block;
        margin: .7rem auto;
    }
    .BirthDate-signup {
        margin-bottom: 1rem;
    }
    .Phone-signup {
        margin-bottom: -1rem;
    }
    .container-login {
        margin: 40px auto;
        padding: 30px 40px;
        font-family: 'Kanit', sans-serif;
        background-color: white;
        width: 100%;
        height: auto;
        box-shadow: 10px 20px 50px rgba(0,0,0,.2);
        border-radius: 20px;
    }
}

.label-form-title-signup {
    font-size: inherit;
    display: inline-block;
    color: inherit;
}

@media (min-width: 768px){
    .form-inside-signup {
        width: 65%;
    }
}

@media (max-width: 767.98px) {
    .form-inside-signup {
        width: 100%;
        display: block;
    }
}

.form-inside-signup {
    font-size: inherit;
    display: inline-block;
    color: inherit;
}